.verse
  %h3
    If you having Twitter problems,
    %br
    I feel bad for you son

%h1
  I got 99 accounts but
  %br
  your tweets ain't one

%p.button
  %a.button{:href => "/connect"} Hit Me!

%p.small
  %em
    You're crazy for this one #{user_profile_url 'fffffat'}. It's your boy!