.verse
  %h3 Fiends on the floor tweeting again
  %h3 hackers's with they keys pounding them
  %h3 Critics tried to give the artist shaft again
  %h3 Half-a-cent for supplies cause I'm independent

.verse
  %h1
    I got 99 accounts but
    %br
    your tweets ain't one

%p &nbsp;

%p.small
  %small
    %em To remove this application, go to your Twitter Connections and revoke access.